* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa-claro: #c89696;
    --rosa-escuro: #965a5a;
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    overflow: hidden;
    width: min(90%, 500px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    color: var(--rosa-escuro);
    box-shadow: 0px 0px 3px 0px rgba(150, 100, 100, 0.6);
}

table caption {
    margin: 15px;
    font-weight: bold;
}

td,
th {
    padding: 10px 10px;
}

tr {
    transition: 0.3s;
    border-bottom: solid #965a5a 1px;
}

tr:last-of-type {
    border-bottom: solid #965a5a 1px;
}

tbody:has(tr:hover) tr:not(:hover) {
    background-color: #c1747462;
    opacity: 0.8;
}

.input-wrapper {
    position: relative;
    background-color: rgb(240, 200, 200);
}

.input-wrapper i {
    position: relative;
    right: 2.7rem;
    bottom: -0.2rem;
    color: var(--rosa-claro);
}

.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

input {
    margin: 20px;
    border-radius: 4px;
    background-color: white;
    border: none;
    color: var(--rosa-escuro);
    box-shadow: 0px 1px 3px 0px rgba(150, 100, 100, 0.6);
    padding: 5px;
    outline: none;
    transition: 0.1s;
}

input:hover {
    outline: 3px solid rgba(150, 100, 100, 0.5);
    outline-offset: 0.5px;
}

input:focus {
    outline: 3px solid rgba(150, 100, 100, 0.5);
}

.search {
    width: min(40%, 400px);
}

::placeholder {
    padding: 6px;
    color: var(--rosa-escuro);
    font-weight: bolder;
    opacity: 0.5;
}

button {
    width: 30px;
    height: 30px;
    color: var(--rosa-escuro);
    border: none;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px var(--rosa-escuro);
}

button i {
    font-size: 25px;
    vertical-align: -0.179em;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 1;
}